:root{
    --Background_color :#050724 ; 
    --second_color : #7f2982 ; 
    --text-colot: white ; 
    --light-text-color:rgb(190, 190, 190);
    --head-color:#31263e; 
    --nav-colot: #44355b ; 
    --space_right : 50px;
    --space_left: 50px ;
    --space-up :70px;
    --font-type :'Raleway', sans-serif;
}
/* Components */
.button{
    background-color: var(--second_color); 
    border: none;
    padding:12px 45px;
    color: var(--text-colot);
    font-size: 20px;
}
.captilize{
    text-transform: capitalize;
} 
.boldtext {
    text-transform: uppercase;
}
.big_button{ 
    background-color: var(--second_color); 
    color: var(--text-colot);
    border: none;
    padding:20px 50px; 
    font-size: 20px;

} 
.white-color{
    color: var(--text-colot);
}
.light-colot{
    color: var(--light-text-color);
}
.title-container-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    padding: var(--space-up) var(--space_right) 0px var(--space_left);
}
.sections-title {
    font-size: 30px;

}
.sections-see_More{
    font-size: 15px;
    text-decoration: underline;
    cursor:pointer;
}
.cart{
    height: 600px;
    width: 430px;
  
    
} 
.txt-cart{
    color: white; 
    font-size:32px;   
}

.info-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 50px; 
   
}
.info-text{ 
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

















body{
    background-color: var(--Background_color); 
    font-family: var(--font-type);
    height: 4400px;
}
*{padding: 0; margin: 0;}


/* Header */
header{
    height: 160px;
    
}
header div.head{
    height: 80px;
    background-color: var(--head-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: var(--space_right);
}
header div.nav{
    height: 80px;
    background-color: var(--nav-colot);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:var(--space_left) ;
    padding-right: var(--space_right);

}

header div.nav div.lists{ 
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: var(--light-text-color); 
    font-size: 20px; 
    flex: 1;
}
header div.nav div.lists ul:nth-child(1){
    color: var(--text-colot);

}
header div.nav div.profile {
    display: flex;
    flex-direction: row;
    gap:150px;

   
}
header div.nav div.profile div.shoping{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
header div.nav div.profile div.shoping img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
header div.nav div.profile div.profile-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--light-text-color) ;
}
header div.nav div.profile div.profile-info img{ 
    height:40px;
   width: 40px;
}
/* End of Header */
/* Start Main-contaner Section */
main.main{
    height: 80vb;
      
}
main.main section.contaner {
    background:url(../assests/images/main_img.png)center no-repeat; 
     background-size: cover;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;

}
main.main section.contaner p {
    color: var(--light-text-color);
    font-size: 25px;
    
}
main.main section.contaner h2{
    color: var(--text-colot); 
    font-size: 80px;
}
main.main section.contaner div.icons{ 
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-top: 100px;
}
main.main section.contaner div.icons >img{
    height: 25px;
    width: 25px; 
    transition: all 300ms ease-in-out;

}
main.main section.contaner button{
    transition: all 500ms ease-in-out;
}
main.main section.contaner button:hover{
  background-color:var(--light-text-color) ;
  color:var(--Background_color) ;
  cursor: pointer;
}

main.main section.contaner div.icons >img:hover{
    cursor: pointer; 
    transform: scale(2);
    
}
/* Start Main-Events Section */
main.main section.event{
    height: 60vh;
}
section.event div.carts-continer  { 
    padding: var(--space-up) 100px 0px 100px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    


}
section.event div.carts-continer div.cart_info{
    height: 350px;
    width: 550px; 
   
}
section.event div.carts-continer div.cart_info:nth-child(1){
    background: url(../assests/images/section_2_img_1.png) center no-repeat;
    background-size: cover; 
    position: relative;
}
section.event div.carts-continer div.cart_info:nth-child(1) h4{
    position: absolute;
    top: 50%;
    left: var(--space_left); 
    font-size: 40px;
    
    text-shadow: 3px 6px 10px black;
}

section.event div.carts-continer div.cart_info:nth-child(1) p{
    position: absolute;
    top: 65%;
    left: var(--space_left);
    font-size: 20px;
}

section.event div.carts-continer div.cart_info:nth-child(2){
    background: url(../assests/images/section_2_img_2.png) center no-repeat;
    background-size: cover;
    position: relative;
}

section.event div.carts-continer div.cart_info:nth-child(2) h4{
    position: absolute;
    top: 50%;
    left: var(--space_left); 
    font-size: 40px;
    
    text-shadow: 3px 6px 10px black;
}

section.event div.carts-continer div.cart_info:nth-child(2) p{
    position: absolute;
    top: 65%;
    left: var(--space_left);
    font-size: 20px;
} 

section.event div.carts-continer div.cart_info >button {
    position: absolute;
    top:75%;
    right: 10%;
    transition: all 400ms ease-in-out ;
}
section.event div.carts-continer div.cart_info >button:hover{
    background-color:var(--light-text-color) ;
    color:var(--Background_color) ;
    cursor: pointer;

}
/* End Main-Events Section */

/* start music_list Section */

main.main section.music_list div.music{
    margin-top: var(--space-up); 
    padding: 0px var(--space_right) 0px var(--space_left);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    
    height: 600px;
}

main.main section.music_list div.music div.cover{
    position: relative;
}
main.main section.music_list div.music div.cover div.color{
   background-color:#05072463;
   position: absolute;
   top: 0;
   display: flex;
   align-items: flex-end; 
   
   
}
main.main section.music_list div.music div.cover div.color p{
    margin:0px 0px var(--space-up) 20px;
    font-weight: bold;
    text-shadow: 3px 6px 10px black;
    
}
main.main section.music_list div.music div.cover div.color p:hover{
    cursor: pointer; 
    
}
/* End music_list Section  */

/* start Lastest-Videos Section */
main.main section.last_vid_cont div.grid_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    height: 90vb;
    margin-top: var(--space-up);
    padding: 0px var(--space_right) 0px var(--space_left) ;
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(1){
    background: url(../assests/images/sec_4_img_1.png) no-repeat center;
    background-size: cover; 
    grid-row: 1/3;
    position: relative;
    
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(1)
div.music-play-cont{ 
    display: flex;
    flex-direction: column;
    
   
    position: absolute; 
    bottom: 20px;
    left: 20px;
    color: white;

}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(1)
div.music-play-cont div.vdeo-play{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px;
   
    
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(1)
div.music-play-cont div.vdeo-play p{
   
    font-size: 32px;
    font-weight: bold;
    width: 60%;
   
    
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(1)
div.music-play-cont >p{
    margin-left: 86px;
    letter-spacing: 3px;
   
}




main.main section.last_vid_cont div.grid_list div.grid:nth-child(2){
    background: url(../assests/images/sec_4_img_2.png) no-repeat center;
    background-size: cover; 
    position: relative;
    
}

main.main section.last_vid_cont div.grid_list div.grid:nth-child(2)
div.conti{
   
    position: absolute;
    top: 60%;
    color: white;
   

}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(2)
div.conti div.btn-conti{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(2)
div.conti div.btn-conti img {
    height: 80px ;
    width: 80px;
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(2)
div.conti div.btn-conti p { 
    font-size: 30px;
    font-weight: bold;
    width: 70%;
    
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(2)
div.conti > p {
    margin-left: 110px;
    letter-spacing: 3px;
}





main.main section.last_vid_cont div.grid_list div.grid:nth-child(3){
    background: url(../assests/images/sec_4_img_3.png) no-repeat center;
    background-size: cover; 
    position: relative;
    
    
}

main.main section.last_vid_cont div.grid_list div.grid:nth-child(3)
div.conti{
   
    position: absolute;
    top: 60%;
    color: white;
   

}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(3)
div.conti div.btn-conti{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(3)
div.conti div.btn-conti img {
    height: 80px ;
    width: 80px;
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(3)
div.conti div.btn-conti p { 
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(3)
div.conti > p {
    margin-left: 110px;
    letter-spacing: 3px;
}













main.main section.last_vid_cont div.grid_list div.grid:nth-child(4){
    background: url(../assests/images/sec_4_img_4.png) no-repeat center;
    background-size: cover; 
    grid-column: 2/4; 
    position: relative;
    
}

main.main section.last_vid_cont div.grid_list div.grid:nth-child(4)
div.conti{
   
    position: absolute;
    top: 5%;
    color: white;
   

}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(4)
div.conti div.btn-conti{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(4)
div.conti div.btn-conti img {
    height: 80px ;
    width: 80px;
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(4)
div.conti div.btn-conti p { 
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    
}
main.main section.last_vid_cont div.grid_list div.grid:nth-child(4)
div.conti > p {
    margin-left: 110px;
    letter-spacing: 3px;
    
}

/* Start fotter */ 

main.main footer { 
    margin-top: var(--space-up);
}
main.main footer div.big-img{ 
    height: 750px;
    background: url(../assests/images/fotter_img.png) center no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
main.main footer div.big-img button{
        font-weight: bold;
        transition: all 400ms ease-in-out;
    }
main.main footer div.big-img button:hover{
    background-color:var(--light-text-color) ;
    color:var(--Background_color) ;
    cursor: pointer;

}
main.main footer div.big-img p { 
    color: white;
    font-weight: bolder;
    font-size: 70px;
    width: 60%;
    text-align: center;
}
main.main footer div.detail { 

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    padding: 170px var(--space_right) 0px var(--space_left);
}
main.main footer div.detail div.info_title {
    /* background-color: red; */
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    
    height: 400px;
    width: 300px;
   
}
main.main footer div.detail div.info_title img{

    height: 20px;
    width: 25px;

}
main.main footer div.detail div.info_title hr { 
    
  margin-top: 20px;
  width: 170px;
    
}

main.main footer div.detail div.info_title h3{ 
    color: white;
    font-size: 26px;
    /* padding-left: 10px; */
    text-align: center;
}